.shareBar {
    background-color: yellow;
  }
  
.shadeOut {
    color:grey; 
    filter: grayscale(100%);
}

.darkBackground {
    background-color: #18A48c;
    color: white;
}

.lightBackground {
    background-color: white;
    color: #0f294a;
}
.icons {
    font-size: 32px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}